header,
footer {
    background-color: #000080;
}

#cabecalho .navbar-brand,
footer h6{
    color: #fff;
    font-style: italic;
    text-decoration: underline #FFA500;
}

#cabecalho .navbar-brand i,
#cabecalho .nav .nav-link i,
footer i {
    color: #FFA500;
}

#cabecalho .nav .nav-link.active,
#cabecalho .nav .nav-link.active i,
#botao-envio {
    background-color: #FFA500;
    color: #000080;
}

#cabecalho .nav .nav-link i {
    color: #FFA500;
}

header .nav-link {
    color: #fff;
}

header .nav-link:hover {
    color: #FFA500;
}

header button.navbar-toggler {
    color: #FFA500;
}

header button span {
    border-color: #FFA500;
}

.carousel {
    background-color: black;
}

.carousel-item video{
    height: 640px;
    min-width: 100%;
}

#exploracao-planetaria{
    background-color: #ffd699a5;
}

.title {
    font-style: italic;
    text-decoration: underline #FFA500;
    color: #000080;
}

.title > i {
    color: #FFA500;
}

nav.nav {
    justify-content: space-between;
}

#exploracao-planetaria nav.nav-pills .nav-link.active {
    background-color: #FFA500;
    color: #000080;
}

#exploracao-planetaria nav.nav-pills .nav-link {
    color: #000080;
}

hr {
    color: #000080;
}

hr.hr-card {
    color: #FFA500;
}

.card img {
    max-height: 500px;
}

#noticias-espaciais {
    background-color: #add8e65c;
}

#noticias-espaciais  img {
    max-height: 266px;
}

#galeria {
    background-color: #ffd699a5;
}

#galeria .col-sm-6 {
    position: relative;
}

.col-sm-6 img {
    border: 1px solid #FFC008;
}

.overlay {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 1;
    width: auto;
    opacity: 0;
    transition: all ease .5s;
}

.overlay a {
    color: #fff;
    text-decoration: none;
}

#galeria .col-sm-6:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

#fale-conosco {
    background-color: #add8e65c;
}

#botao-envio:hover {
    background-color: #ffa600c5 ;
}

textarea {
    resize: none;
}

.form-check-label,
#fale-conosco p {
    text-decoration: none;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.footer-notes {
    color: #FFA500;
    text-decoration: none;
}

footer h6 {
    text-decoration: none;
}
@media (max-width: 767px) {
    .carousel-item video {
        height: 280px;
    }

    #exploracao-planetaria nav.nav {
        flex-direction: column;
    }

    #exploracao-planetaria .card {
        margin-bottom: 10px;
    }
}

@media (min-width: 767px) and (max-width: 990px) {
    #exploracao-planetaria .card {
        margin-bottom: 10px;
    }


    #exploracao-planetaria nav.nav {
        flex-direction: column;
    }
}